<h2>Lineups</h2>

<form (ngSubmit)="createLineup()">

    <input [(ngModel)]="newLineup.name" name="name" placeholder="Nombre alineación">

    <select [(ngModel)]="newLineup.team_id" name="team_id">

        <option [ngValue]="null">
            Seleccionar equipo
        </option>

        @for (team of teams; track team.id) {

        <option [ngValue]="team.id">
            {{ team.name }}
        </option>

        }
    </select>

    <button type="submit">
        Crear
    </button>

</form>

<hr>

@if (editingLineup) {

<h3>Editar alineación</h3>

<input [(ngModel)]="editingLineup.name">

<select [(ngModel)]="editingLineup.team_id">

    @for (team of teams; track team.id) {

    <option [ngValue]="team.id">
        {{ team.name }}
    </option>

    }
</select>

<button (click)="updateLineup()">
    Guardar
</button>

}

<hr>

@if (lineups.length > 0) {

<ul>

    @for (lineup of lineups; track lineup.id) {

    <li>

        {{ lineup.name }}
        -
        {{ lineup.team_name }}

        <button (click)="editLineup(lineup)">
            Editar
        </button>

        <button (click)="deleteLineup(lineup.id)">
            Eliminar
        </button>

    </li>

    }

</ul>

} @else {

<p>No hay alineaciones</p>

}