<h2>Player Analytics Dashboard</h2>

<!-- SELECTOR -->
<div>
    <label>Seleccionar jugador:</label>

    <select [(ngModel)]="selectedPlayerId" (change)="loadPlayerAnalytics()">

        <option [ngValue]="null">
            Seleccione un jugador
        </option>

        @for (player of players; track player.id) {

        <option [ngValue]="player.id">

            {{ player.name }}

        </option>

        }

    </select>
</div>

<hr>

<!-- DASHBOARD -->
@if (selectedAnalytics) {

<!-- PLAYER INFO -->
<h3>{{ selectedAnalytics?.player?.name || 'Jugador' }}</h3>

<p><strong>Equipo:</strong> {{ selectedAnalytics?.player?.team_name || 'N/A' }}</p>
<p><strong>Posición:</strong> {{ selectedAnalytics?.player?.position || 'N/A' }}</p>

<hr>

<!-- IMPACT SCORE -->
<div>
    <h3>Impact Score</h3>

    <h1>
        {{ (selectedAnalytics?.impact?.impact_score ) }}
    </h1>

</div>

<hr>

<!-- STYLES -->
<div>
    <h3>Player Styles</h3>

    @for (style of (selectedAnalytics?.styles || []); track style) {
    <span>
        {{ style }}
    </span>
    }
</div>

<hr>

<!-- STATS -->
<div>
    <h3>Stats</h3>

    <ul>
        <li>Points: {{ selectedAnalytics?.stats?.points || 0 | number:'1.2-2'}}</li>
        <li>Rebounds: {{ selectedAnalytics?.stats?.rebounds || 0 | number:'1.2-2'}}</li>
        <li>Assists: {{ selectedAnalytics?.stats?.assists || 0 | number:'1.2-2'}}</li>
        <li>Steals: {{ selectedAnalytics?.stats?.steals || 0 | number:'1.2-2'}}</li>
        <li>Blocks: {{ selectedAnalytics?.stats?.blocks || 0 | number:'1.2-2'}}</li>
        <li>Turnovers: {{ selectedAnalytics?.stats?.turnovers || 0 | number:'1.2-2'}}</li>
    </ul>
</div>

<hr>

<!-- SHOOTING -->
<p>
    FG%: {{ selectedAnalytics?.shooting?.fg_pct | number:'1.2-2' }}
</p>

<p>
    3P%: {{ selectedAnalytics?.shooting?.three_pct | number:'1.2-2' }}
</p>

<p>
    TS%: {{ selectedAnalytics?.shooting?.ts_pct | number:'1.2-2' }}
</p>

<hr>

<!-- PERCENTILES -->
<div>
    <h3>League Percentiles</h3>

    <ul>
        <li>
            Points:
            {{ (selectedAnalytics?.impact?.breakdown?.percentiles?.points * 100 || 0) | number:'1.2-2' }}%
        </li>

        <li>
            Rebounds:
            {{ (selectedAnalytics?.impact?.breakdown?.percentiles?.rebounds * 100) | number:'1.2-2' }}%
        </li>

        <li>
            Assists:
            {{ (selectedAnalytics?.impact?.breakdown?.percentiles?.assists * 100) | number:'1.2-2' }}%
        </li>

        <li>
            Steals:
            {{ (selectedAnalytics?.impact?.breakdown?.percentiles?.steals * 100) | number:'1.2-2' }}%
        </li>

        <li>
            Blocks:
            {{ (selectedAnalytics?.impact?.breakdown?.percentiles?.blocks * 100) | number:'1.2-2' }}%
        </li>

        <li>
            Turnovers:
            {{ (selectedAnalytics?.impact?.breakdown?.percentiles?.turnovers * 100) | number:'1.2-2' }}%
        </li>
    </ul>
</div>

}

@else {
<p>Selecciona un jugador para ver el análisis</p>
}