<h2>Jugadores</h2>

<form (ngSubmit)="createPlayer()">
    <input [(ngModel)]="newPlayer.name" name="name" placeholder="Nombre">

    <select [(ngModel)]="newPlayer.team_id" name="team_id">
        <option [ngValue]="null">Seleccionar equipo</option>

        @for (team of teams; track team.id) {
        <option [ngValue]="+team.id">
            {{ team.name }}
        </option>
        }
    </select>

    <select [(ngModel)]="newPlayer.position" name="position">

        <option value="">
            Seleccionar posición
        </option>

        @for (position of positions; track position) {

        <option [value]="position">
            {{ position }}
        </option>

        }

    </select>
    <input type="number" [(ngModel)]="newPlayer.age" name="age" placeholder="Edad">

    <button type="submit">Crear</button>
</form>

<hr>

@if (editingPlayer) {
<h3>Editar jugador</h3>

<input [(ngModel)]="editingPlayer.name" placeholder="Nombre">


<select [(ngModel)]="editingPlayer.team_id" name="team_id">
    <option [ngValue]="null">Seleccionar equipo</option>

    @for (team of teams; track team.id) {
    <option [ngValue]="+team.id">
        {{ team.name }}
    </option>
    }
</select>
<select [(ngModel)]="editingPlayer.position" name="position">

    <option value="">
        Seleccionar posición
    </option>

    @for (position of positions; track position) {

    <option [value]="position">
        {{ position }}
    </option>

    }

</select>

<input type="number" [(ngModel)]="editingPlayer.age" name="age" placeholder="Edad">

<button (click)="updatePlayer()">Guardar</button>
}

@if (players.length > 0) {
<ul>
    @for (player of players; track player.id) {
    <li>

        {{ player.name }} - {{ player.team_name }} - {{ player.position }} - {{player.age}}

        <button (click)="editPlayer(player)">Editar</button>
        <button (click)="deletePlayer(player.id)">Eliminar</button>

    </li>
    }
</ul>
} @else {
<p>Cargando jugadores...</p>
}